<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_booster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{270,454}</string>
                <key>spriteSourceSize</key>
                <string>{280,460}</string>
                <key>textureRect</key>
                <string>{{631,1},{270,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_frame_moves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,287}</string>
                <key>spriteSourceSize</key>
                <string>{294,287}</string>
                <key>textureRect</key>
                <string>{{631,457},{294,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_frame_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,258}</string>
                <key>spriteSourceSize</key>
                <string>{272,258}</string>
                <key>textureRect</key>
                <string>{{1,630},{272,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_moves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{628,627}</string>
                <key>spriteSourceSize</key>
                <string>{636,637}</string>
                <key>textureRect</key>
                <string>{{1,1},{628,627}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{511,630},{100,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{816,753},{86,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_bomb_max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{804,861},{84,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{511,732},{100,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_purpure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{391,745},{100,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{261,841},{100,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_rocket_horizontal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{702,845},{100,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block_rockets.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{702,753},{90,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>block_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{100,112}</string>
                <key>textureRect</key>
                <string>{{505,834},{100,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_booster_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{93,109}</string>
                <key>spriteSourceSize</key>
                <string>{95,117}</string>
                <key>textureRect</key>
                <string>{{607,834},{93,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_booster_teleport.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,117}</string>
                <key>spriteSourceSize</key>
                <string>{95,117}</string>
                <key>textureRect</key>
                <string>{{375,847},{95,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot_booster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{118,113}</string>
                <key>spriteSourceSize</key>
                <string>{122,113}</string>
                <key>textureRect</key>
                <string>{{391,630},{118,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot_frame_moves.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,209}</string>
                <key>spriteSourceSize</key>
                <string>{128,209}</string>
                <key>textureRect</key>
                <string>{{261,630},{128,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons.png</string>
            <key>size</key>
            <string>{919,947}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc49bcffb4bbe5e306e57acb8c113f18:a60bc1dda69c7c0fd98ac27d5a808048:a73c72aca107c42120aa7eba166486e5$</string>
            <key>textureFileName</key>
            <string>icons.png</string>
        </dict>
    </dict>
</plist>
